body {
    font-family: $font;
}

a {
    &:hover {
        text-decoration: none;
    }
}
h2{
    margin-bottom: 2em;
}
/*********** HOME_HEADER_NAV *******/
div#wrapper-navbar {
    background: $primary;
}
.navbar {
    padding: 0.5rem 0rem;
}

@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    background: transparent;
    border: none;
    }
}

.dropup, .dropdown {
    /* position: relative; */

}

.dropdown-menu.show {
    display: inline-flex;
}

/*.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;

    &:hover {
        font-weight: bold;
        color: white;
    }
}*/
li.active {
    font-weight: bold;
}

//www.sitepoint.com/quick-tip-fixing-font-weight-problem-hover-states/

//Hover shadow
.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;
     letter-spacing: .01em;
  transition: text-shadow .3s;
    &:hover {
        //text-shadow: 0 0 .65px #fff, 0 0 .65px #fff;
         text-shadow: 0 0 .9px #fff, 0 0 .9px #fff, 0 0 .9px #fff; 
        //font-weight: bold;
       // margin:0 -3px;
        color: white;
    }
}

//KATEGORIJE BOJE SVIJET,REGIJA,HRVATSKA

//Hrvatska
.page-template-vijesti_page_hrvatska {
    .podnozje_naslova {
        a:hover {
            color: $hrvatska;
        }
        h2 {
            a {
                color: white;
                &:hover {
                    color: $hrvatska;
                }
            }
        }
    }
    #vijesti_4posta {
        a:hover {
            color: $hrvatska;
        }
    }
}
//Regija
.page-template-vijesti_page_regija {
    .podnozje_naslova {
        ul.post-categories {
            li {
                a:hover {
                    color: $regija !important;
                }
                &:after {
                    content: "\f0c8";
                    font-family: FontAwesome;
                    font-weight: normal;
                    font-style: normal;
                    margin: 0px 0px 0px 8px;
                    text-decoration: none;
                    color: $regija !important;
                }
            }
        }

        h2 {
            a {
                color: white;
                &:hover {
                    color: $regija !important;
                }
            }
        }
    }
    #vijesti_4posta {
        a:hover {
            color: $regija;
        }
    }
}
//Svijet
.page-template-vijesti_page_svijet {
    .podnozje_naslova {
        ul.post-categories {
            li {
                a:hover {
                    color: $svijet !important;
                }
                &:after {
                    content: "\f0c8";
                    font-family: FontAwesome;
                    font-weight: normal;
                    font-style: normal;
                    margin: 0px 0px 0px 8px;
                    text-decoration: none;
                    color: $svijet !important;
                }
            }
        }

        h2 {
            a {
                color: white;
                &:hover {
                    color: $svijet !important;
                }
            }
        }
    }
    #vijesti_4posta {
        a:hover {
            color: $svijet;
        }
    }
}

//TEČAJNA LISTA



.tecajna_lista{
    .valute{
        th:first-child{
            padding-left: 2.5em;
        }
    }
    tr:first-child{
        td, th{
            font-size: 0.8rem;
        }
        
    }
}


//NASLOVI_TRAKE_H2
.table {
    margin-bottom: 0;
}
.table th,
.table td,
.table tr,
.table tbody + tbody {
    border: 0;
}
.table th,
.table td {
    vertical-align: middle;
}
.tablica_sivo {
    background: #eceded;
}
.tablica_objave td {
    padding: 0em 1.5em 0em 0em;
    img{
        filter: brightness(80%);

    }
    a{
        font-size: 0.8em;
    }
}
#recent-posts-3 {
    padding: 0;
}
#recent-posts-5{
    padding-top: 0;
}
#execphp-4{
    padding-top: 0;
}
.saznaj_vise {
    td {
        padding: 0;
        text-align: left;
        &:hover{
            background: $primary;
            color:white;
            a{
                color:white;
            }
        }
        a{
            padding-left: 1em;
            display: inline-block;
            &:hover{
                color: white;
            }
        }
    }
    td.slikica {
        width: 14%;
    }
}

#execphp-7{
    .saznaj_vise td.slikica{
        width:20%;
    }
}
#execphp-8{
    .saznaj_vise td.slikica{
        width:20%;
    }
}
[type="search"] {
    outline-offset: 0px;
    -webkit-appearance: none;
    border: 0;
    background: #6c191b;
    padding: 0.4em;
    color: white;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}
/*#vijesti_sidebar h2:first-child{
    margin-bottom: 0;
}*/
.trake {
    font-size: 15px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    color: #fff;
    font-weight: bold;
}

.kvadrat_kategorije {
    color: $primary;
        padding-left: 0.4rem;
}
.category-regija {
    div#single_post_naslov .kategorija a{
        color: #97BF0D;
    }
    a{
        color: #97BF0D;
    }
    .kvadrat_kategorije{
        color: #97BF0D;
    }
    
}
.category-svijet {
    div#single_post_naslov .kategorija a{
        color: #FFED00;
    }
    a{
         color: #FFED00;
    }
    .kvadrat_kategorije{
        color: #FFED00;
    }
    
}
//H2 SINGLE KATEGORIJA
.single {
    #single_post_naslov {
        padding: 1em 0;
        h2 {
            font-size: 1.5em;
        }
        .kategorija {
            font-size: 1.2em;
            a {
                text-transform: uppercase;
                color: $primary;
            }
        }
    }

    ul.post-categories {
        padding-right: 0.5em;
        padding: 0;
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;
        float: left;

        a {
            text-transform: uppercase;
            color: white;
        }
    }

    .post {
        .trake {
            padding-bottom: 1.5rem;
        }
    }
}

.podnozje_naslova {
    position: relative;
    position: absolute;
    bottom: 0;
    padding: 2em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+100 */
    background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 1%,
        rgba(0, 0, 0, 0.65) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 1%,
        rgba(0, 0, 0, 0.65) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 1%,
        rgba(0, 0, 0, 0.65) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#00000000",
            endColorstr="#a6000000",
            GradientType=0
        ); /* IE6-9 */
    h2 {
        font-size: 1.5em;
        margin-bottom: 0;
    }
    .kategorija {
        font-size: 1.2em;
        color: white;
        text-transform: uppercase;
        .post-categories {
            list-style-type: none;
            margin-bottom: 0.5em;
            /*position: absolute;
            bottom: 0;*/
        }
        a {
            color: white;
        }
    }
}

.pojam_dana {
    background: $siva_pojam;
    padding: 2em;
}

.prvi {
    position: relative;
    margin-bottom: 2rem;
    .podnozje_naslova {
        position: absolute;
        bottom: 0;
        padding: 1.3em;
        width: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+100 */
        background: -moz-linear-gradient(
            top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.65) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.65) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.65) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(
                startColorstr="#00000000",
                endColorstr="#a6000000",
                GradientType=0
            ); /* IE6-9 */
        h2 {
            //font-size: 1.2em;
            a {
                color: white;
                &:hover {
                    color: $hrvatska;
                }
            }
        }
        h4.kategorija {
            margin-bottom: 0;
            ul {
                padding-left: 0;
                a {
                    color: white;
                    &:hover {
                        color: $hrvatska;
                    }
                }
            }
        }
        ul.post-categories li:after {
            content: "\f0c8";
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            margin: 0px 0px 0px 8px;
            font-size: 1.3rem;
            text-decoration: none;
            color: $primary;
        }
    }
}

.jedan {
    position: relative;
    .podnozje_naslova {
        position: absolute;
        bottom: 0;
        padding: 1em;
        width: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+100 */
        background: -moz-linear-gradient(
            top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.65) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.65) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.65) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(
                startColorstr="#00000000",
                endColorstr="#a6000000",
                GradientType=0
            ); /* IE6-9 */
        h2 {
            font-size: 1.2em;
            a {
                color: white;
                &:hover {
                    color: $regija;
                }
            }
        }
        h4.kategorija {
            font-size: 0.8em;
            ul {
                padding-left: 0;
                a {
                    color: white;
                    &:hover {
                        color: $regija;
                    }
                }
            }
        }
        ul.post-categories li:after {
            content: "\f0c8";
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            margin: 0px 0px 0px 8px;
            text-decoration: none;
            color: $regija;
        }
    }
}

.dva {
    position: relative;
    .podnozje_naslova {
        position: absolute;
        bottom: 0;
        padding: 1em;
        width: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+100 */
        background: -moz-linear-gradient(
            top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.65) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.65) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.65) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(
                startColorstr="#00000000",
                endColorstr="#a6000000",
                GradientType=0
            ); /* IE6-9 */
        h2 {
            font-size: 1.2em;
            a {
                color: white;
                &:hover {
                    color: $svijet;
                }
            }
        }
    }
    h4.kategorija {
        font-size: 0.8em;
        ul {
            padding-left: 0;
            a {
                color: white;
                &:hover {
                    color: $svijet;
                }
            }
        }
    }
    ul.post-categories li:after {
        content: "\f0c8";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        margin: 0px 0px 0px 8px;
        text-decoration: none;
        color: $svijet;
    }
}

/*********** HOME_INVESTICIJSKI-FONDOVI *******/
#pocetna_investicijski {
    thead {
        background: $siva_pojam;
        padding: 1em;
        th {
            padding: 1.7rem;
            text-transform: uppercase;
            text-align: center;
        }
    }
    td {
        text-align: center;
    }
    tbody {
        th {
            font-weight: normal;
        }
        /*tr:nth-child(2){
            background: $siva_pojam;
        }*/
        .dobitni {
            color: #41a62a;
        }
        .gubitni {
            color: #be0a26;
        }
        .fa {
            font-size: 1.2em;
        }
    }
    .nav-tabs .nav-link {
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        background: $sivija_tablica;
        //padding: 0.5em 1.85em;
        margin-right: 0.3em;
        &:last-child {
            margin-right: 0;
        }
    }
    .nav-tabs .nav-link.active {
        background: #697a7b;
    }
}
.investicijski_pocetni {
    th {
        background: white;
    }
    th:first-child {
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        background: #293d40;
        margin-right: 0.3em;
        padding: 1em !important;
    }
}
//widgeti_fondovi
.widget #pocetna_investicijski {
    .nav-tabs .nav-link {
        margin-right: 0;
        color: #3e3d40;
        background: #ebecec;
        font-size: 0.7em;
        border: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    h2 {
        margin-bottom: 0;
    }
    tbody {
        th {
            padding-left: 3em;
            font-style: 0.8em;
        }
        td {
            font-style: 0.8em;
        }
    }
}

/*********** HOME_VIJESTI *******/
#pocetna_vijesti {
    .naslov {
        font-size: 1.2em;
        padding-top: 1em;
    }
}
#pojam_dana {
    h2 {
        margin-bottom: 0;

        font-weight: bold;
        text-transform: uppercase;
    }
    .pojam_naslov {
        font-size: 1.2em;
    }
    p {
        padding-top: 1em;
    }
}

//Kvadarti na slicku

//padding na slicku
.single-item.slick-initialized.slick-slider.slick-dotted {
    padding: 2em;
}
/*********** HOME_LOGIĆI *******/

#logici {
    .card-img-top {
        padding: 1em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .card-body {
        padding: 0.5em;
    }
    /*.slick-slide{
        border: 1px solid rgba(0, 0, 0, 0.125);
    }*/
}

/*********** VIJESTI_4POSTA *******/

#vijesti_4posta {
    padding-bottom: 1em;
   
    a {
        font-size: 1.2em;
        color: $secondary;
        &:hover {
            color: $primary;
        }
    }
}


.widget {
    padding: 1em 0; 
    
}

.widget:first-child {
    padding-top:0;   
}

/*********** HOME_CARUSEL_DRUŠTVA *******/

.multiple-items .card-body {
    ul {
        list-style-type: none;
    }
}

/*********** EDUKACIJA_DIONICE *******/

.table_dionice:nth-child(1) {
    background: #eceded;
}

/*********** DRUŠTVA ZA UPRAVLJANJE *******/

tbody#drustva_tablica {
    border: none;
    td,
    th {
        border: none;
        vertical-align: middle;
        ul{
            padding-left: 1rem;
        }
        li {
            display: inline-block;
            padding-right: 1rem;
            list-style: none;
            
            height: 20px;
            
            a{
                font-size: 0.8rem;
                border-left: 2px solid $primary;
                padding-left: 0.4rem;
            }
        }
    }
    .drustvo_upravljanje{
        
            font-weight: bold;
            padding-left: 1rem;
            color:$siva;
            &:hover{
                color: $primary;
            }
    }
}

.category .entry-header h2.entry-title{
    margin-bottom: 0;
}
.category .post{
    padding-bottom: 1.7rem;
}
.category .entry-header .entry-meta{
    padding: 1rem 0rem;
}

/*********** LSLIKE 100% U KATEGORIJAMA ****/
.category img.wp-post-image, .category article img {
  
    width: 100%;
}

/*********** PGINATE LINKS *******/
  span.page-numbers.current {
   /* padding-left: 40%;*/
    padding-top: 6%;
    display: inline-block;
    /* padding-top: 8%; */
}
.page-numbers{
    padding: 0 0.3rem;
}
/*********** FOOTER *******/

div#wrapper-footer {
    background: #5d5d5d;
}

#wrapper-footer-full {
    background-color: $primary;
    color: white;
}

/*********** SLICK *******/

.slick-prev,
.slick-next {
    z-index: 10;
}

    
    .home_slider_slika{
        border: 1px solid rgba(0, 0, 0, 0.125);
        padding: 2rem;
    }

.home_slider_profil  {
       border: 1px solid rgba(0, 0, 0, 0.125);
       padding: 1.5rem;
    p{
       padding-left: 20%;
    margin-bottom: 0.5rem; 
    }
    

}
.ufokusu {
    .slick-slide .post-categories {
        li {
            &:after {
                content: "\f0c8";
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                margin: 0px 0px 0px 8px;
                text-decoration: none;
                color: $ufokusu;
            }
        }
    }
}
.svijet {
    .slick-slide .post-categories {
        li {
            &:after {
                content: "\f0c8";
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                margin: 0px 0px 0px 8px;
                text-decoration: none;
                color: $svijet;
            }
        }
    }
}
.regija {
    .slick-slide .post-categories {
        li {
            &:after {
                content: "\f0c8";
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                margin: 0px 0px 0px 8px;
                text-decoration: none;
                color: $regija;
            }
        }
    }
}
.hrvatska {
    .slick-slide .post-categories {
        li {
            &:after {
                content: "\f0c8";
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                margin: 0px 0px 0px 8px;
                text-decoration: none;
                color: $hrvatska;
            }
        }
    }
}
.slick-slide .post-categories {
    list-style-type: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
    font-family: "slick";
    font-weight: normal;
    font-style: normal;

    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
        url("./fonts/slick.woff") format("woff"),
        url("./fonts/slick.ttf") format("truetype"),
        url("./fonts/slick.svg#slick") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;

    opacity: 0.75;
    color: $primary !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 0px !important;
}
[dir="rtl"] .slick-prev {
    right: -25px;
    left: auto;
}
.slick-prev:before {
    content: "←";
}
[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: 0px !important;
}
[dir="rtl"] .slick-next {
    right: auto;
    left: 0px !important;
}
.slick-next:before {
    content: "→";
}
[dir="rtl"] .slick-next:before {
    content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: "•";
    text-align: center;

    opacity: 0.25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: black;
}

/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;

    content: "";
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
    padding: 2em;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.form-control option{
        padding: 1rem;
        font-weight: bold;
}
.form-control option:nth-of-type(odd){
        background-color: rgba(0, 0, 0, 0.05);
        font-weight: bold;
}

/****************** 
        DRUŠTVA FONDOVI

 *********************/


#drustva_fondovi {
    padding:2rem;
    tbody{
        
        td{
            a{
              color: $siva;
              font-weight: bold;
              padding-left: 1.2rem;

            }
        }
        &:hover{
                background: $siva;
                color: #fff;
                font-weight: bold;
                a{
                    color:#fff;
                }
              } 
    }
}

.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

/****************** 
        FOOTER LINKOVI

 *********************/
.letter{
    background: #009EE0;
    padding: 1rem 2rem;
    color: white;
    font-weight: light;
}


#wrapper-footer-full{

    #nav_menu-2,#nav_menu-3{
        border-left: 1px solid #fff;
    }
    
        ul.menu{
            padding-left: 0rem;
            list-style-type: none;
            
            li{
            a{
                color: #fff;
                &:hover{
                    text-shadow: 0 0 0.9px #fff, 0 0 0.9px #fff, 0 0 0.9px #fff;
                }
            }
        }
        }
        
   
}
#full-width-page-wrapper{
    padding-bottom: 0;
}