// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&subset=latin-ext');

$font: 'Source Sans Pro', sans-serif;
$primary: #B7151F;
$secondary: #293D40;

$crvena: #B7151F;
$siva: #293D40;

$siva_pojam: #ECEDED;

$sivija_tablica: #293D40;

$ufokusu: blue;
$regija: #97BF0D;
$svijet: #FFED00;
$hrvatska: #B7151F;